<div th:replace="fragments/header"></div>
	<div class="container">
		<center>
		
		<h2>Lihat Data Penduduk Berdasarkan Kota</h2>
		<br/>
		
		<form action="" method="GET">
			<div class="input-group col-sm-8">
			  <span class="input-group-addon col-4 col-sm-3">Kota</span>
			  <select class="custom-select col-8 col-sm-9" name="kt">
					<span th:each="kota,i: ${kotas}">
						<option th:text="${kota.nama_kota}" th:value="${kota.id}">Kota</option>
					</span>
				</select>
			</div>
			
			<br/>
			
			<div>
				<input type="submit" value="Submit" class="btn btn-primary col-8"/>
			</div>
		</form>
		
		</center>
	</div>
<div th:replace="fragments/footer"></div>